:root {
  color-scheme: dark;
  --bg: #000;
  --fg: #eee;
}

html,
body {
  margin: 0;
  height: 100%;
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, sans-serif;
}

#app {
  display: grid;
  place-items: center;
  height: 100%;
}
